* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === Inicio header === */
.logo-titulo {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 10px;
}

.logo-formulario {
    height: 40px;
    width: 40px;
    object-fit: contain;
}
/* === Fin header === */


/* === Inicio main === */
#formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario label {
    font-weight: 700;
}
.campo-error {
    border: 2px solid #a3242f;
    background: #fbe9ea;
}

#mensaje-confirmacion {
    font-weight: bold;
    color: #2b6cb0;
}
/* === Fin main === */

/* === Inicio footer === */
/* === Fin footer === */